<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description, status, create_time, update_time, create_user,
                          update_user)
        VALUES (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime},
                #{createUser}, #{updateUser})
    </insert>

    <update id="updateById">
        update dish
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="description != null and description != ''">
                `description` = #{description},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByIds">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectPage" resultType="com.sky.vo.DishVO">
        select a.*,b.name as categoryName from dish a
        left join category b on a.category_id = b.id
        <where>
            <if test="name != null and name != ''">
                and a.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and b.id = #{categoryId}
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectList" resultType="com.sky.entity.Dish">
        select * from dish
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="selectEnableCount" resultType="java.lang.Integer">
        select count(*) from dish
        where status = 1
        and id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>

    </select>

    <select id="selectDishWithFlavor" resultMap="dishVo">
        select a.*, df.id df_id, df.name df_name, df.value
        from dish a
        left join dish_flavor df on a.id = df.dish_id
        <where>
            <if test="id != null ">
                and a.id = #{id}
            </if>
            <if test="categoryId != null">
                and a.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <resultMap id="dishVo" type="com.sky.vo.DishVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="category_id" property="categoryId"/>
        <result column="price" property="price"/>
        <result column="image" property="image"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="update_time" property="updateTime"/>
        <collection property="flavors" ofType="com.sky.entity.DishFlavor">
            <id column="df_id" property="id"/>
            <result column="df_name" property="name"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>
</mapper>