<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">
    <insert id="insertBatch">

        insert into user (name, phone, sex, id_number, avatar, openid)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.phone}, #{item.sex}, #{item.idNumber}, #{item.avatar}, #{item.openid})
        </foreach>
    </insert>

    <select id="selectList" resultType="com.sky.entity.User">
        select * from user
        <where>
            <if test="openid != null and openid != ''">
                and openid = #{openid}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>